:root {
  --white: rgb(255, 255, 255);
  --gray: rgb(220, 220, 220);
  --green10: rgb(7, 107, 7);
  --green20: rgb(7, 107, 7);
  --brown10: #743f25;
  --brown20: rgb(71, 19, 19);

  --bar-height: 5rem;
  --sidebar-size: 11rem;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

#body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#top-bar {
  display: flex;
  background-color: var(--green10);
  height: var(--bar-height);
  width: 100%;
  top: 0;
}

#title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title-text {
  color: var(--gray);
  font-size: 3rem;
}

#sidebar {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  height: 100%;
  width: 16rem;
}

#menu {
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  position: fixed;
  width: fit-content;
}

#menu a {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 2rem;
  text-decoration: none;
  box-sizing: border-box;
}

#menu a:hover {
  background-color: var(--green10);
  color: white;
}

#content {
  width: 50%;
  min-height: calc(100vh - var(--bar-height) - var(--bar-height));
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 1rem;
  background-color: #eee;
}

article {
  line-height: 2.5rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

article h2 {
  font-size: 2rem;
  margin: 2rem 0;
  text-align: center;
}

article p {
  font-size: 1.2rem;
  margin: 1rem 0;
}

figure {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: 80%;
  text-align: center;
}

#video {
  margin: 2rem 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

#formulario {
  margin: 1rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#entrada {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  font-size: 1.2rem;
}

#entrada input,
textarea {
  font-size: 1.2rem;
  resize: none;
  outline-color: var(--green10);
}

#enviar {
  margin-top: 2rem;
  font-size: 1.2rem;
  padding: 0.5rem;
}

footer {
  width: 100%;
  height: var(--bar-height);
  color: white;
  background-color: var(--green10);
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 70%;
  margin: 3rem auto;
  height: 100%;
  font-size: 1.3rem;

  display: flex;
  flex-direction: column;
}

.container-entrada {
  margin: 4rem 0 0 0;
  display: flex;
}

.container-entrada input {
  flex-grow: 1;
  margin-right: 2rem;
  font-size: 1.3rem;
}

.container-entrada button {
  font-size: 1.3rem;
}

.invisivel {
  visibility: hidden;
}

.visivel {
  color: red;
  visibility: visible;
}

#total-entrada {
  margin-top: 3rem;
}
