:root {
  --white: rgb(255, 255, 255);
  --gray: rgb(220, 220, 220);
  --green10: rgb(7, 107, 7);
  --brown10: #743f25;
  --brown20: rgb(71, 19, 19);
  
  --top-bar-height: 5rem;
  --sidebar-size: 11rem;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

#body {
  width: 100%;
  height: 100rem;
  display: flex;
  flex-direction: column;
}

#top-bar {
  position: fixed;
  display: flex;
  background-color: var(--green10);
  height: var(--top-bar-height);
  width: 100%;
  top: 0;
}

#title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title-text {
  color: var(--gray);
  font-size: 3rem;
}

#container {
  display: flex;
  width: 100%;
  height: 100%;
}

#central {
  width: 100%;
}

#sidebar{
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
  width: 15%;
}


#menu {
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  position:fixed;
  width: 15%;
}


#menu a {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 4rem;
  text-decoration: none;
}



#menu a:hover {
  background-color: var(--green10);
  color: white;
}


@media screen and (max-width: 700px) {
 
  #container {
    flex-direction: column;
  }
  #menu {
    width: 100%;
    height: 20rem;
    position: relative;
  }
  #menu a{
    display: block;
  }
  #menu{float: left;}

}

@media screen and (max-width: 400px) {
  #menu a {
    text-align: center;
    float:none;
  }
}

#content {
  width: 50%;
  margin: 0 auto;
  margin-top: var(--top-bar-height);
  box-sizing: border-box;
  padding: 1rem;
  background-color: #eee;
}

article {
  line-height: 2.5rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

article h2 {
  font-size: 2rem;
  margin: 2rem 0;
}

article p {
  font-size: 1.2rem;
  margin: 1rem 0;
}

figure {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: 80%;
  text-align: center;
}

iframe {
  margin: 2rem 0;
  align-self: center;
}